#randomnumbertitle, #total {
    border-style: dotted;
    border-width: 5px;
    border-color: blueviolet;
    color: blueviolet;
    margin-left: 18px;
}

#score, #randomnumber {
    border-style: dotted;
    border-width: 5px;
    border-color: blueviolet;
    color: blueviolet;
}

#randomnumber {
    font-size: 50px;
}

#crystalone, #crystaltwo, #crystalthree, #crystalfour {
    height: 100px;
    width: 100px;
    background: silver; 
    border-color: silver;
    color: black;
}


/* #crystalone {
    background: orange;
    height: 150px;
}

#crystaltwo {
    background: blue;
}

#crystalthree {
    background: green;
}

#crystalfour {
    background: yellow;
} */