#randomnumbertitle, #total {
    border-style: dotted;
    border-width: 5px;
    border-color: blueviolet;
    color: blueviolet;
    margin-left: 18px;
}

#score, #randomnumber {
    border-style: dotted;
    border-width: 5px;
    border-color: blueviolet;
    color: blueviolet;
}

#randomnumber {
    font-size: 50px;
}

#crystalone, #crystaltwo, #crystalthree, #crystalfour {
    height: 120px;
    width: 120px;
    /* background: silver;  */
    border-radius: 20px;
    border: round;
    color: black;
}

#crystalone {
    background: rgb(210, 114, 230);
}

#crystaltwo {
    background: rgb(52, 191, 226);
}

#crystalthree {
    background: rgb(156, 236, 156);
}

#crystalfour {
    background: rgb(148, 153, 152);
}